body{
  background-color: #515456;
}

input.inputResultC{
  width: 548px;
  height: 80px;
  font-size: 48px;
  background-color: #EBF0F3;
  border-radius: 5px;
}
.inputResultC{
  cursor: text;
}


button{
  width: 135px;
  height: 112px;
  font-size: 40px;
  font-weight: 600;
  margin: 1px;
}

button.DC{
  background-color: #406B8D;
  border-radius: 8px;
  outline: none;
}

.DC:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:#40778d;
  cursor: pointer;
}


button.LC{
  background-color: #7291AB;
  border-radius: 8px;
  outline: none;
}

.LC:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:rgb(129, 151, 158);
  cursor: pointer;
  
}



